<!-- se incluye la referencia de la pagina de encabezado con django-->
{% include 'encabezado.html' %}


<form action="/personas_ingresar01/" method = "POST">  
  {% csrf_token %}
 <div  class="row">
    <div class="form-group col-md-6">
      <label for="nombre">nombre:</label>
      <input type="text" class="form-control" id="nombre" name ="nombre">
    </div>
    <div class="form-group col-md-6">
      <label for="apellido">apellido:</label>
      <input type="text" class="form-control" id="apellido" name ="apellido">
    </div>
  </div>
 
  <div class="row">
    <div class="form-group col-md-6">
      <label for="correo">correo:</label>
      <input type="email" class="form-control" id="correo" name ="correo">
    </div>
    <div class="form-group col-md-6">
      <label for="telefono">telefono:</label>
      <input type="text" class="form-control" id="telefono" name ="telefono">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Guardar</button>
</form>



<!-- se incluye la referencia de la pagina de pie con django-->
{% include 'pie.html' %}