<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>pagina de prueba</title>
</head>
<body>
  
</body>
  <h1>plantilla html</h1>
  <p>contenido para mostrar: Lorem ipsum dolor sit amet consectetur, adipisicing elit. At minus nobis eum voluptas saepe ducimus, consequuntur consectetur placeat exercitationem veritatis hic modi blanditiis quia rerum iure impedit, ipsa illum non deserunt adipisci incidunt, quibusdam minima. Deleniti quam exercitationem quo? Veritatis ut corporis quisquam earum porro, dolorem reprehenderit laudantium consectetur mollitia!</p>
</html>