<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Plantilla html inicio 1 </h1>
    <p>contenido a mostrar: Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim temporibus similique sequi cum ullam est itaque odit, voluptatem officia officiis explicabo. Temporibus distinctio vitae velit. Deleniti quia inventore ullam voluptatibus animi ratione obcaecati, fugit aspernatur minima quidem, sint perferendis iure quisquam voluptas voluptate exercitationem! Corporis debitis repellat quibusdam porro nemo.</p>
    
</body>
</html>