<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Plantilla HTML</h1>
    
    <p>Contenido a mostrar: Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta tempore sed consequuntur perferendis debitis ratione, quisquam labore iusto aliquid esse adipisci vero provident assumenda odit. Enim quam quod minus! Facilis sequi consectetur consequuntur magnam fugiat! Tempore perferendis fuga hic sed labore, deserunt, dolorem sit inventore similique explicabo quam incidunt facere.</p>

</body>
</html>